*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red */
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.div-wrapper{
    display: flex;
    text-align: justify;
    gap: 60px;
}
.right-div{
    flex: 1;
    width: 100%;
}
.img-card{
    width: 100%;
    height: 100%;
}
.img-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.left-div{
    flex: 1;
    flex-direction: column;
}
.text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem
}
.text-container h1{
    font-size: 80px;
    margin-bottom: 20px;
}
.text-container h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.login-info{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 400px;
}
.content-sign button{
    background: none;
    padding: 10px 50px;
    margin-bottom: 20px;
    border: 1px solid gray;
    width: 100%;
    border-radius: 20px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.addmix{
   font-size: 20px;
  background: linear-gradient(90deg, #4285F4, #DB4437, #F4B400, #0F9D58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.divider{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #797979;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #5f5d5d;
}
.divider span{
   margin: 0 10px;
  font-weight: 600;
}

.btn-login button{
    background-color: black;
    color: white;
    padding: 10px 50px;
    border: none;
    width: 100%;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 25px;
}
.text-doc{
    margin-bottom: 60px;
}
.text-doc span{
    font-size: 15px;
    color: #5f5d5d;
}
.text-doc a{
    text-decoration: none;
    color: rgb(19, 163, 211);
}
.text {
    margin-bottom: 10px;
    font-size: 15px;
    color: #070707;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-sign button{
    background: none;
    padding: 10px 50px;
    margin-bottom: 20px;
    border: 1px solid gray;
    width: 100%;
    border-radius: 20px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
}
